# Python caches & virtual envs
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Project Reports (Do not upload as per rules)
*Report*.docx
*Report*.pdf
*Report*.docx

# OS specific files
.DS_Store
Thumbs.db
